body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}


/*Header stripe*/
#background {
    min-height: 100vh;
    width: 35vw;
    background-image: url(images/doggo-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}


#header {
    position: relative;
    top: 150px;
    height: 100px;
    width: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


/*Main*/
#main {
    flex: 1;
    margin: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin: 0;
}
fieldset input, fieldset span {
    display: inline-block;
    vertical-align: middle;
}

fieldset > input {
    width: 300px;
    background-color: black;
    color: white;
    border-color: white;
    box-sizing: border-box;
}
  
fieldset > input:valid {
    border-color: green;
}

#sumbit {
    border: 1px solid white;
}