body {
    height: auto;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*Header stripe*/
#background {
    min-height: 100vh;
    width: 35vw; /* Initially, cover the full width */
    background-image: url(images/doggo-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#header {
    position: relative;
    top: 20%;
    height: 100px;
    width: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 768px) {
    /* Adjust the width for smaller screens */
    #background {
        min-height: 35vh;
        width: 100%; /* You can adjust this width as needed for smaller screens */
    }

    #header {
        top: 30%;
    }
}

/*Main*/
#main {
    flex: 1;
    margin: 40px;
    max-width: 800px; /* Set a maximum width to control the width of the content */
    width: 100%; /* Ensure content takes full width within the maximum width */
}

form {
    display: flex;
    flex-direction: column;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin: 0;
}
fieldset input, fieldset span {
    display: inline-block;
    vertical-align: middle;
}

fieldset > input {
    width: 300px;
    background-color: black;
    color: white;
    border-color: white;
    box-sizing: border-box;
}
  
fieldset > input:valid {
    border-color: green;
}

#sumbit {
    border: 1px solid white;
}